  <!--Clients-->
  <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>{{client.heading}}</h3>
                <h2 class="section-title">{{client.title}}</h2>
                <p class="section-subtitle">{{client.subtitle}}</p>
            </div>

        </div>

        <div class="col-2-3">
            <div *ngFor="let features of client.feature">
            <a href="#" class="col-3" >
                <img src="{{features.url}}" alt="Company"/>
                <div class="client-overlay"><span>{{features.name}}</span></div>
            </a>
            </div>
        </div>

    </div>
</section>
<!--End of Clients-->