   <!--Testimonials-->
   <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{testimonial.heading}}</h3>
            <h2 class="section-title">{{testimonial.title}}</h2>
        </div>
        <div *ngFor="let features of testimonial.feature">
        <!--User Testimonial-->
        <blockquote class="col-3 testimonial classic">
            <img src="{{features.url}}" alt="User"/>
            <q>{{features.blurb}}</q>
            <footer>{{features.name}} - Happy Customer</footer>
        </blockquote>
        <!-- End of Testimonial-->
        </div>
    </div>

</aside>
<!--End of Testimonials-->