     

        <!--Pricing Tables-->
        <section id="pricing" class="secondary-color text-center scrollto clearfix ">
            <div class="row clearfix">

                <div class="section-heading">
                    <h3>{{blog.heading}}</h3>
                    <h2 class="section-title">{{blog.title  | uppercase}}</h2>
                </div>

                <!--Pricing Block-->
                <div *ngFor="let post of blog.posts" class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
                    <app-post [post]="post"></app-post>
                </div>
                <!--End Pricing Block-->
            </div>
        </section>
        <!--End of Pricing Tables-->
